{{!--******************************************************************************
* File: main.handlebars
* Description: HTML Entry point for CS 390 Database interactions HW
* Author(s): Casey Hines, with inspiration from CS 390 course material,
* w3schools.com (https://www.w3schools.com/)
******************************************************************************--}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Database Interactions</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>

