<div class="container_12">
    <div id="header" class="grid_12 alpha">
        <ul class="menu">
            <li class="menu"><a class="menu" href="/">Home</a></li>
            <li class="menu"><a class="menu active" href="/crew">Crew</a></li>
            <li class="menu"><a class="menu" href="/science">Science</a></li>
            <li class="menu"><a class="menu" href="/spotTheStation">Spot The Station</a></li>
        </ul>
        <h1>Meet the crew</h1>
    </div>

    <img class="grid_12 alpha" src="images/Expedition_55_crew_portrait.jpg"/>
    <div class="grid_12 alpha">
    <p>
        Currently the International Space Station is occupied by Expedition 55.
    </p>
    <ul>
        <li>
            Commander: <a href="https://en.wikipedia.org/wiki/Anton_Shkaplerov">Anton Shkaplerov</a>, RSA (bottom center)
        </li>
        <li>
            Flight Engineer 1: <a href="https://en.wikipedia.org/wiki/Scott_D._Tingle">Scott D. Tingle</a>, NASA (bottom left)
        </li>
        <li>
            Flight Engineer 2: <a href="https://en.wikipedia.org/wiki/Norishige_Kanai">Norishige Kanaie</a>, JAXA (bottom right)
        </li>
        <li>
            Flight Engineer 3: <a href="https://en.wikipedia.org/wiki/Andrew_Feustel">Andrew J. Feustel</a>, NASA (top center)
        </li>
        <li>
            Flight Engineer 4: <a href="https://en.wikipedia.org/wiki/Oleg_Artemyev">Oleg Artemyev</a>, RSA (top right)
        </li>
        <li>
            Flight Engineer 5: <a href="https://en.wikipedia.org/wiki/Richard_R._Arnold">Richard R. Arnold</a>, NASA (top left)
        </li>
    </ul>
    </div>
</div>