<div class="container_12">
    <div id="header" class="grid_12 alpha">
        <ul class="menu">
            <li class="menu"><a class="menu" href="/">Home</a></li>
            <li class="menu"><a class="menu" href="/crew">Crew</a></li>
            <li class="menu"><a class="menu active" href="/science">Science</a></li>
            <li class="menu"><a class="menu" href="/spotTheStation">Spot The Station</a></li>
        </ul>
        <h1>Science</h1>
    </div>
    <h2>Space to Ground: Recent ISS Science Update</h2>
    <div class="grid_8 alpha">        
        <iframe width="100%" height="350" src="https://www.youtube.com/embed/Do-Q3dUjLoo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p>
            NASA's Space to Ground is a weekly update on what's happening aboard the International Space Station. For more ISS science news visit
            <a href="https://www.nasa.gov/mission_pages/station/research/news/SSSH_21may18">Space Station Science Highlights: Week of May 21, 2018</a>
        </p>

    </div>
    <div class="grid_4 omega twitterScroll">
        <a class="twitter-timeline" href="https://twitter.com/ISS_Research?ref_src=twsrc%5Etfw">Tweets by ISS_Research</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>